
main { width: 100%;
    height: fit-content;
    padding: $spacing-medium;}
#ppal {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 500px;
    grid-template-areas: 
    "divtexto divtexto . ."
    ". divcactus divcactus .";
    .divtexto{
        grid-area: divtexto;
        @include flex(row, wrap, center, center);
            .texto {
                font-size: 22px;
                color: $secondary;
                text-align: left;}}
    .divcactus{
        grid-area: divcactus;}}