
main { width: 100%;
    height: fit-content;
    padding: $spacing-medium;}
#ppal {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 600px;
    grid-template-areas: 
    "divtexto divtexto . ."
    ". divcactus divcactus .";
    .divtexto{
    grid-area: divtexto;
    @include flex(wrap, center, center);
        .texto {
            font-size: 22px;
            color: $secondary;
            text-align: left;}}
    .divcactus{
    grid-area: divcactus;}}
.footerindex {font-size: map-get($font-sizes, $text-small);
    color: $alternative;
    margin: 30px;
    width: 50%;}