.productos {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 1fr;
    grid-template-areas: 
    "tipo1 tipo2"
    "fototipo1 fototipo2";
    grid-gap: $spacing-small;
    align-items: center;
    justify-items: center;
    .tipo1 {grid-area: tipo1;
        font-size: map-get($font-sizes, $text-base);
        background-image: linear-gradient(white 70%,rgb(153, 233, 153));
        padding: $spacing-medium;}
    .fototipo1 {
        grid-area: fototipo1;
        width: 80%;
        height: 80%;
        align-items: center;
        object-fit: cover;
        filter: grayscale(90%);
        &:hover {
            transition-duration: 1.5s;
            filter: grayscale(0%);
}}
    .tipo2 {grid-area: tipo2;
        font-size: map-get($font-sizes, $text-base);
        background-image: linear-gradient(white 70%,rgb(153, 233, 153));
        padding: $spacing-medium;}
    .fototipo2 {grid-area: fototipo2;
        @extend .fototipo1;}}
