.productos {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vw 10vw 1fr;
    grid-template-areas: "prod prod"
    "tipo1 tipo2"
    "fototipo1 fototipo2";
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    .prod {grid-area: prod;}
    .tipo1 {grid-area: tipo1;
        font-size: 20px;
        background-image: linear-gradient(white 70%,rgb(153, 233, 153));
        padding: 2rem;}
    .fototipo1 {
        grid-area: fototipo1;
        width: 100%;
        height: 100%;
        align-items: center;
        object-fit: cover;
        filter: blur(5px) grayscale(90%);
        -webkit-filter: blur(5px) grayscale(90%);
        &:hover {
            transition-duration: 1.5s;
            filter: blur(0px) grayscale(0%);
            -webkit-filter: blur(0px) grayscale(0%);}}
    .tipo2 {grid-area: tipo2;
        font-size: 20px;
        background-image: linear-gradient(white 70%,rgb(153, 233, 153));
        padding: 2rem;}
    .fototipo2 {grid-area: fototipo2;
        @extend .fototipo1;}}
        // width: 100%;
        // height: 100%;
        // align-items: center;
        // object-fit: cover;
        // filter: blur(5px) grayscale(90%);
        // -webkit-filter: blur(5px) grayscale(90%);
        // &:hover {
        //     transition-duration: 1.5s;
        //     filter: blur(0px) grayscale(0%);
        //     -webkit-filter: blur(0px) grayscale(0%);}}